# Core functionality - changes here should be rare!
/src/app.py                   @Nepul1234
/src/backend/database.py      @Nepul1234
/src/backend/routers/auth.py  @Nepul1234

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Nepul1234
